.guest {
    box-sizing: border-box;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    width: 100%;
    padding: .1em 3em;
    background: $gray-1;

    &__name {
        color: white;
    }

    &__age {
        color: white;
    }
}