.knn-friends {
    box-sizing: border-box;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-image: url(./resources/images/banner2.png);
    background-size: cover; 

    ::-webkit-scrollbar {
        width: 0px;
        background: transparent; /* make scrollbar transparent */
    }

    &__main-container {
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        width: 90%;
        height: 85%;

        &__list-container {
            width: 40%;
            height: 100%;

            &__h3 {
                font-size: 1.2em;
                font-weight: 100;
                color: white;
            }

            &__hr {
                width: 100%;
                margin-bottom: 1em;
                border: none;
                border-bottom: .5px solid white;
            }

            &__guest-list {
                height: 70%;
            }
        }

        &__detail-container {
            display: flex;
            align-self: flex-end;
            width: 55%;
            height: 85%;

            &__guest {
                display: flex;
                flex-flow: column nowrap;
                align-items: center;
                width: 100%;

                &__img {
                    width: 20%;
                }

                &__name {
                    font-family: 'Open Sans', sans-serif;
                    font-weight: 700;
                    color: white;
                }

                &__preferences {
                    display: flex;
                    flex-flow: row nowrap;
                    justify-content: center;
                    width: 80%;
                    height: 60%;

                    &__table {
                        width: 100%;
                        height: 60%;

                        &__tr-titles {
                            width: 100%;
                            margin: 0;
                            background-color: $gray-2;
                            color: $primary-red;
                        }

                        &__tr {
                            width: 100%;
                            margin: 0;
                            background-color: $gray-1;
                            color: white;

                            &__td {
                                text-align: center;
                            }
                        }
                    }
                }

                &__KNN-title {
                    font-size: 1.1em;
                    color: white;
                }

                &__KNN-guests {
                    height: 30%;
                    display: flex;
                    flex-flow: row nowrap;
                }
            }
        }
    }
}