// Color Pallette
//// Main colors
$primary-red: #EE2535;
$primary-bright-red: #EE6D78;
$primary-blue: #37A9C2;
$primary-bright-blue: #70B3C2;
$gray-1: #414141;
$gray-2: #DCE1DE;
$gray-3: #F6F6F6;



